a {
  cursor: url(../image/shubiao.png), auto !important;
}
html {
  font-size: 50px;
  cursor: url(../image/shubiao.png), auto !important;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 51.2px;
  }
}
@media screen and (max-width: 1120px) {
  html {
    font-size: 74.66666667px;
  }
}
@media screen and (max-width: 1250px) {
  html {
    font-size: 66.66666667px;
  }
}
